{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
<form method="post" class="mb-5 mt-5">
    {% csrf_token %}
    <label for="email"><h5>Digite seu e-mail:</h5></label>
    <input type="email" id="email" name="email">
    <button type="submit">Enviar</button>
</form>


    <table class="table table-borded table-striped">
        <tr>
            <th>id</th>
            <th>nome do exame</th>
            <th>data do exame</th>
        </tr>
            <p> Paciente: {{ usuario.nome }} </p>
        {% for exame in exames %}
        <tr>
            <td>{{ exame.id_exame }}</td>
            <td>{{ exame.nome_exame }}</td>
            <td>{{ exame.data_exame }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>{{ error_message }}</h1>
</div>
{% endblock %}
